@font-face {
font-family: 'ProximaNova';
src: url('/fonts/ProximaNova-Light.eot');
src: url('/fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
url('/fonts/ProximaNova-Light.woff') format('woff'),
url('/fonts/ProximaNova-Light.ttf') format('truetype');
font-weight: 300;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova';
src: url('/fonts/ProximaNova-Regular.eot');
src: url('/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
url('/fonts/ProximaNova-Regular.woff') format('woff'),
url('/fonts/ProximaNova-Regular.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}

@font-face {
font-family: 'ProximaNova';
src: url('/fonts/ProximaNova-Semibold.eot');
src: url('/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('/fonts/ProximaNova-Semibold.woff') format('woff'),
url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: 500;
font-style: normal;
}


@font-face {
font-family: 'ProximaNova';
src: url('/fonts/ProximaNova-Semibold.eot');
src: url('/fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
url('/fonts/ProximaNova-Semibold.woff') format('woff'),
url('/fonts/ProximaNova-Semibold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'BebasNeue';
src: url('/fonts/BebasNeueBold.eot');
src: url('/fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
url('/fonts/BebasNeueBold.woff') format('woff'),
url('/fonts/BebasNeueBold.ttf') format('truetype');
font-weight: 600;
font-style: normal;
}

@font-face {
font-family: 'BebasNeue';
src: url('/fonts/BebasNeueBook.eot');
src: url('/fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
url('/fonts/BebasNeueBook.woff') format('woff'),
url('/fonts/BebasNeueBook.ttf') format('truetype');
font-weight: 400;
font-style: normal;
}
