
<footer class="footer">
  <div class="footer__wrap container">
    <div class="footer__column">
      <nav class="footer-nav">
        <div class="footer-nav__column">
          <a href="#" class="footer-nav__title">Ассортимент</a>
          <ul>
            <li><a href="#" class="footer-nav__link">Мужское</a></li>
            <li><a href="#" class="footer-nav__link">Женское</a></li>
            <li><a href="#" class="footer-nav__link">Sale</a></li>
          </ul>
        </div>
        <div class="footer-nav__column">
          <a href="#" class="footer-nav__title">Помощь</a>
          <ul>
            <li><a href="#" class="footer-nav__link">Как подобрать размер?</a></li>
            <li><a href="#" class="footer-nav__link">Как оформить заказ?</a></li>
          </ul>
        </div>
        <div class="footer-nav__column">
          <a href="#" class="footer-nav__title">О компании</a>
          <ul>
            <li><a href="#" class="footer-nav__link">О нас</a></li>
            <li><a href="#" class="footer-nav__link">Адреса магазинов</a></li>
            <li><a href="#" class="footer-nav__link">Вакансии</a></li>
          </ul>
        </div>
        <div class="footer-nav__column">
          <a href="#" class="footer-nav__title">Информация</a>
          <ul>
            <li><a href="#" class="footer-nav__link">Политика конфиденциальности</a></li>
          </ul>
        </div>
      </nav>

      <div class="footer__bottom">
        <div class="privacy">© 2010–2019, 34PLAY.ME - Официальный интернет магазин 34 PLAY. Использование материалов 34play.me разрешено только с предварительного согласия правообладателей. Все права на фотографии и тексты принадлежат 34play.me.</div>

      </div>
    </div>
    <div class="footer__column">
      <div class="footer-nav__column">
        <a href="#" class="footer-nav__title">Покупателю</a>
        <ul>
          <li><a href="#" class="footer-nav__link">Связаться с нами</a></li>
          <li><a href="#" class="footer-nav__link">Обменять или вернуть товар</a></li>
          <li><a href="#" class="footer-nav__link">Доставка</a></li>
          <li><a href="#" class="footer-nav__link">Оплата</a></li>
          <li><a href="#" class="footer-nav__link">Частые вопросы по заказам</a></li>
          <li><a href="#" class="footer-nav__link">Отследить заказ</a></li>
        </ul>
      </div>
      <div class="dev">
        <span>Сделано в</span>
        <a href="#">REKA Digital Agency</a>
      </div>
    </div>
    <div class="footer__column">
      <div class="footer-logo">
        <a href="#">
          <img src="images/logo_footer.png" alt="">
        </a>
      </div>

      <div class="footer-contacts">
        <a href="#" class="footer-contacts__phone">8 (800) <span>222-34-41</span></a>
        <span class="footer-contacts__time">пн-пт, 11:00–18:00</span>
        <a href="">shop@34play.me</a>
      </div>

      <div class="social">
        <a href="#" class="social__link vk"></a>
        <a href="#" class="social__link fb"></a>
        <a href="#" class="social__link instagram"></a>
        <a href="#" class="social__link youtube"></a>
      </div>
    </div>

  </div>
</footer>





<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/slick.min.js"></script>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
