<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>34 Play</title>
<link rel="stylesheet" type="text/css" href="css/main.css"/>
<link rel="stylesheet" type="text/css" href="css/slick.css"/>
<!--[if lte IE 9]><script src="http://phpbbex.com/oldies/oldies.js" charset="utf-8"></script><![endif]-->
</head>
<body>

<div class="top-banner wrapper">
  <div class="top-banner__content container">
    <div>Да здравствует потреблядство! с 23 по 26 ноября скидки до <span>50%</span> в честь «черной пятницы»</div>
    <div class="close"></div>
  </div>
</div>

<header class="header">
  <div class="header-top">
    <div class="container header-top__wrap">

      <nav class="rest-nav">
        <ul class="rest-nav__list">
          <li class="rest-nav__item"><a href="#" class="rest-nav__link">Как сделать заказ</a></li>
          <li class="rest-nav__item"><a href="#" class="rest-nav__link">Доставка</a></li>
          <li class="rest-nav__item"><a href="#" class="rest-nav__link">Оплата</a></li>
          <li class="rest-nav__item"><a href="#" class="rest-nav__link">Возврат и обмен</a></li>
          <li class="rest-nav__item"><a href="#" class="rest-nav__link">Вакансии</a></li>
        </ul>
      </nav>

      <div class="registration">
        <div class="registration__city">Санкт-Петербург</div>
        <a href="#" class="registration__link">Вход</a>
        <a href="#" class="registration__link">Регистрация</a>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="header-bottom__wrap container">
      <div class="header-bottom__left">
        <div class="nav-icon"></div>
        <div class="logo">
          <a href="#"><img src="images/logo_header.png" alt="" class="logo__img"></a>
        </div>
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item"><a href="#" class="nav__link">Мужское</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Женское</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Sale</a></li>
            <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
            <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
          </ul>
        </nav>
      </div>
      <div class="header-bottom__right">
        <div class="phone-block">
          <span class="phone-block__top">пн-пт, 11:00–18:00</span>
          <a href="tel:78005001739" class="phone-block__bottom">+7 (800) <span>500-17-39</span></a>
        </div>
        <div class="search">
          <input type="text" class="search__input">
          <div class="search__btn"></div>
        </div>
        <a href="#" class="reg-icon"></a>
        <a href="#" class="cart">
          <span class="cart__icon"></span>
          <span class="cart__count">5</span>
        </a>
      </div>
    </div>
  </div>
</header>
